body{
margin:0;
font-family:Arial;
background:#f2f2f2;
}

/* NAVBAR */
nav{
background:black;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
position:sticky;
top:0;
z-index:100;
}

nav h2{
margin:0;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:red;
}

/* HERO */
.hero{
background:url("hero.jpg");
background-size:cover;
background-position:center;
color:white;
text-align:center;
padding:150px 20px;
}

.hero h1,.hero p,.hero button{
background:rgba(0,0,0,0.6);
padding:10px;
display:inline-block;
border-radius:5px;
}

button{
padding:12px 25px;
border:none;
background:red;
color:white;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:darkred;
transform:scale(1.05);
}

/* SECTIONS */
section{
padding:60px 20px;
text-align:center;
}

.dark{
background:#222;
color:white;
}

/* CARDS */
.card{
background:white;
width:250px;
display:inline-block;
margin:15px;
border-radius:8px;
overflow:hidden;
transition:0.3s;
}

.card img{
width:100%;
height:180px;
object-fit:cover;
}

.card h3{
padding:10px;
}

.card:hover{
transform:translateY(-10px);
box-shadow:0 10px 20px rgba(0,0,0,0.4);
}

/* GALLERY */
.gallery{
width:250px;
margin:10px;
border-radius:8px;
transition:0.3s;
}

.gallery:hover{
transform:scale(1.1);
}

/* PRICING */
.price{
background:white;
width:220px;
display:inline-block;
margin:15px;
padding:25px;
border-radius:8px;
transition:0.3s;
}

.price:hover{
background:red;
color:white;
transform:scale(1.05);
}

/* FORM */
form{
max-width:350px;
margin:auto;
}

input,textarea{
width:100%;
padding:10px;
margin:8px 0;
}

footer{
background:black;
color:white;
padding:15px;
text-align:center;
}
